# Created by .ignore support plugin (hsz.mobi)
db.sqlite3
manage.py
blog/__pycache__
mysite/__pycache__
 __pycache__/
blog/migrations/0002_comment.py
blog/migrations/__pycache__/0002_comment.cpython-38.pyc
requarements

