{% extends "blog/base.html" %}
{% load blog_tags %}
{% block title %}My Blog{% endblock %}
{% block content %}
    <h1>My Blog</h1>
{#  если в строке запроса передается tag - срабатывает name='post_list_by_tag' иначе tag=None #}
    {% if tag %}
        <h2>Posts tagged with "{{ tag.name }}"</h2>
    {% endif %}

    {% for post in posts %}
        <h2>
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </h2>
        {% if post.tags %}
{#        <p class="tags">Tags: {{ post.tags.all|join:", " }}</p>#}
                <p class="tags">
                Tags:
                    {% for tag in post.tags.all %}
                        <a href="{% url "post_list_by_tag" tag.slug %}">
                            {{ tag.name }}
                        </a>
                        {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
        {% else %}
        {% endif %}
        <p class="date">
            Published {{ post.publish }} by {{ post.author }}
        </p>
        {{ post.body|truncatewords:30|linebreaks }}  {# первый вариант #}
{#        {{ post.body|markdown|truncatewords_html:30 }}  {# использование кастомного тега фильтра из модуля markdown в blogs_tags.py#}
    {% endfor %}

    {% include "blog/pagination.html" with page=posts %}
{% endblock %}

